# Documentation build dependencies
sphinx>=7.0
nbsphinx
sphinx-toolbox
sphinx-rtd-theme
sphinx-prompt
sphinx_copybutton
sphinx-design

# Install all neuralib packages for API documentation
# RTD runs pip from repo root, paths are relative to root
./packages/neuralib-utils[all]
./packages/neuralib-atlas[all]
./packages/neuralib-imaging[all]
./packages/neuralib-parser[all]
./packages/neuralib-metric[all]
